<%= render :partial => "layouts/menu" %>
<div id="admin_formular">
	
<h1>Nyt menupunkt</h1>

<%= error_messages_for :menu %>

<% form_for(@menu) do |f| %>

  <p>
    <b>Navn</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Titel</b><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <b>Indhold</b><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <b>Aktiv</b><br />
    <%= f.check_box :active %>
  </p>



  <p>
    <%= f.submit "[Opret]", :class => 'button' %>
  </p>
<% end %>

<%= link_to 'Back', menus_path %>

</div>
