<div id="forside_projects">
	
	<% for project in @projects %>

		<% if project.attachments.count > 0 %>
	
		

					<div id="project">

						<% @attachment = project.attachments.first %>
			
							<%# @alt = Asset.find(	attachment.asset_id).description rescue nil %>
							<% @alt = @attachment.description rescue nil %>
							<% @image = Asset.find(@attachment.asset_id).photo.url(:image_300) %>
							<% @image_show = Asset.find(@attachment.asset_id).photo.url(:original)%>
					
							<div id="clip_outer">
								<div id="clip_inner">
									<span class='thumb' id='project_images_<%=project.id%>'>
										<%= link_to image_tag(@image, :alt => @alt), project %><%#= link_to image_tag(@image, :alt => @alt), @image_show %>
									</span>
									<!-- HER HAR VI BRUGT POST.ID TIL AT GØRE GRUPPEN AF FOTOS UNIK, SOM DET OGSÅ SES NEDERST I JAVASCRIPT I GROUP -->
								</div>
							</div>
							
							<div id="project_title">
								<p class='title'>
									<%=h truncate(project.title, :length => 30) %>
								</p>
									<%= link_to "(Læs mere...)", project_path(project) %>
							</div>
					</div>

		<% end %>
	
	
		<!-- <%# content_for :javascript do %>

		  <%# javascript_tag do %>

		     		TopUp.addPresets({
				    "#project_images_<%= project.id %> a": {
				      group: "project_images_<%= project.id %>",
					  title: "{alt} - {current} af {total}",
				      layout: "dashboard",
				      modal: 1,
				      resizable: 0,
				      readAltText: 1,
					  shaded: 1,
					  effect: 'switch'
					    },
				    ".shaded": {
				      shaded: 1
				    }
				  });


		    <%# end %>

		<%# end %> -->
	

	<% end %>

</div>








