<div id="blogpost_simple">

	<div class="topline">

		<div class="title"><%= @project.title %></div>
		
		<div class="date_time">
			<%=h @project.start_date.strftime("%d.%m.%y") rescue nil %> - <%=h @project.end_date.strftime("%d.%m.%y") rescue nil %>
		</div>

	</div> <!-- topline -->
	
	<div class="body">

		<%= textilize(@project.description) %>					

	</div>

	<% if @project.attachments.count > 0 %>

	<div id="project_assets">

		<% for attachment in @project.attachments.find(:all, :order => 'position') %>
			<% @image = Asset.find(attachment.asset_id).photo.url(:image_100) %>
			<% @image_show = Asset.find(attachment.asset_id).photo.url(:original)%> 
			<% @alt = attachment.description rescue nil %>
			<div id="clip_outer">
				<div id="clip_inner">
					<span class='thumb' id='project_images_<%=@project.id%>'><%= link_to image_tag(@image, :alt => @alt), @image_show %></span>
					<!-- HER HAR VI BRUGT POST.ID TIL AT GØRE GRUPPEN AF FOTOS UNIK, SOM DET OGSÅ SES NEDERST I JAVASCRIPT I GROUP -->
				</div>
			</div>

		<% end %>

	</div>

	<% end %>

</div>


	<% content_for :javascript do %>

		<% javascript_tag do %>

		TopUp.addPresets({
			"#project_images_<%= @project.id %> a": {
				group: "post_images_<%= @project.id %>",
				title: "{alt} - {current} af {total}",
				layout: "dashboard",
				modal: 1,
				resizable: 0,
				readAltText: 1,
				shaded: 1,
				effect: 'switch'
			},
			".shaded": {
				shaded: 1
			}
		});


		<% end %>

	<% end %>  






