<%= render :partial => "layouts/menu" %>
<div id="admin_liste">

<h1>Fotos vedhæftet <%#= @attachable.category.downcase %> <%= @attachable.id %> <%= '"' +  @attachable.title + '"' %></h1>

<% if params[:project_id] %>

<%= render :partial => "attachments/partials/attachable_draggable_project" %>

<% else %>

<%= render :partial => "attachments/partials/attachable_draggable_post" %>

<% end %>

</div>
