<%= render :partial => "layouts/menu" %>
<div id="admin_formular">
	
<% form_for(@project) do |f| %>
<%= f.error_messages %>

<h1>
Nyt projekt
<%= link_to '[Vis]', @project %>
<%= link_to '[Tilbage]', projects_path %>
<%= f.submit '[Opret]', :class => 'button' %>
</h1>

<div id="start_stop_dato">
	<p class='projekt_felt'>
    <%= f.label :Projekt %><br />
    <%= f.text_field :title %>
  </p>

  <p class='dato_felt'>
    <%= f.label :Start_dato %><br />
    <%= f.text_field :start_date %>
  </p>

  <p class='dato_felt'>
    <%= f.label :Slut_dato %><br />
    <%= f.text_field :end_date %>
  </p>

</div><br>
	
  <p>
    <%= f.label :Beskrivelse %><br />
    <%= f.text_area :description %>
  </p>

  <!-- <p>
    <%#= f.label :Start_dato %><br />
    <%#= f.datetime_select :start_date %>
  </p>
  <p>
    <%#= f.label :Slut_dato %><br />
    <%#= f.datetime_select :end_date %>
  </p> -->
  <!-- <p>
    <%#= f.label :Position %><br />
    <%#= f.text_field :position %>
  </p>
  <p>
    <%#= f.label :Vurdering %><br />
    <%#= f.text_field :rating %>
  </p> -->

<% end %>


</div>


<% content_for :javascript do %>

  <% javascript_tag do %>


		$('#project_start_date,#project_end_date').datepicker({
			showOtherMonths: true,
			selectOtherMonths: true,
			showWeek: true,
			firstDay: 1					
		});

		$('#project_start_date,#project_end_date').datepicker($.datepicker.regional['da']);

  <% end %>

<% end %>