<%= render :partial => "layouts/menu" %>
<div id="admin_formular">
	
<h1>Rediger upload</h1>

<%= error_messages_for :upload %>

<% form_for(@upload) do |f| %>

<p>
    <b>Beskrivelse</b><br />
    <%= f.text_field :description %>
 </p>
<p>
  <b>Fil til upload</b><br />
  <%= f.file_field :photo  %>
</p>

  <p>
    <%= f.submit "[Opdater]", :class => 'button' %> <%= link_to '[Tilbage]', uploads_path %>
  </p>
<% end %>




</div>
